html, body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;  
    color: #333;
    height: 100%;    
} 

h1,h2,h3,h4,h5,h6, .byline,.content-title {
  color: #535353;
  font-weight: 600;
  font-family: Trebuchet, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
h1 {
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom: 0.15em;
}
h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.15em;
}
h3 {
    font-size: 1.3em;    
    margin-top: 1em;
    margin-bottom: 0.15em;
}
h4 {
    font-size: 1.1em;
    margin-top: 1em;    
    margin-bottom: 0.15em;
}
h5, h6 { 
    font-size: 1em;
    margin-top: 1em;
}

code {
    color: #555;
    background-color: #eee;
    font-weight: bold;
    padding: 2px 6px;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;  
    border-radius: 3px;
}
pre {
    font-family: menlo,consolas,monospace;
    font-weight: normal;    
    font-size: 1em;
    margin: 7px 0;
    padding: 0;
    border: 1px solid silver;
    border-radius: 5px;
    overflow-x: auto;    
    max-width: 98%;
    white-space:  pre;
    word-break: normal;
    word-wrap: normal;    
}
pre code {
    white-space: pre;    
}
img {
	max-width: 100%;
}
blockquote {
    background: #f9f9f9;
    font-size: 1em;
    opacity: 0.85;
    padding: 8px 20px 10px;
    margin: 1.2em;
    border-left: 4px #ddd solid;
}
blockquote h3, blockquote h4, blockquote h5 {
    margin-top: 0;
}
hr{
    margin: 12px 0;    
}
.content-body a {
   font-weight: 600 !important;
   color: #4e92c9;
   text-decoration: none;
}
.content-body a:hover {
    color: steelblue;
}
.content-body li {
	margin-bottom: 0.5em;
}
.content-body ul {
    margin-top: 1em;
    margin-bottom: 1.2em;
}

/* hidden display, but still part of document flow */
.hidden {
    display: none;
}
.hidden-nowidth {
    width: 0;    
}
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}

.syntaxbox {
    font-size: 1.03em;
    border: solid 1px #A9A9A9;
    padding: 7px;
    margin: 15px 5px;    
    font-weight: bold;    
    overflow: auto;
    padding: 15px;
    border-radius: 4px;  
    white-space: pre-wrap; 
}

.syntaxoverloads {
    font-family: arial;
    font-weight: bold;
    font-size: 8pt;
    margin-top: 6px;
    color: black;
}
.updatenotice {
    border: solid 1px darkred;
    background: khaki;
    color: darkred;
    margin: 10px 0 10px 10px;
    padding: 10px;
    box-shadow: 2px 2px 7px #737373;
    border-radius: 4px;
}

.hljs {
    font-size: 1em !important;
    font-family: "Menlo", "Consolas", "Courier New", monospace;
}

.link-icon, link-icon:hover {    
    margin-left: -19px;    
    float: left;
    vertical-align: text-bottom;
    opacity: 0.8;        
    cursor: pointer;
    transition: opacity 0.7s ease-in-out;
    text-decoration: none;    
}
.link-hidden {
    opacity: 0.1;
}
.link-icon::before {
    font-family: FontAwesome;
    font-size: 0.7em;
    content: '\f0c1'; /* fa-link */
    text-decoration: none;
}
.projectname, .topicname {
    font-family: Trebuchet, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';    
    font-size: 1.6em; 
    font-weight: bold;          
}
.byline {      
    margin-top: 1px; 
    font-size: 0.9em;
    font-style: italic;   
    font-weight: bold;
    color: cornsilk;
}
td, th  {
    padding: 5px;
    vertical-align: top;
    border-bottom: 5px black !important;
}

.detailtable {    
    font-size: 0.875em;
    border: 2px solid #535353; 
    width: 99%;   
}

    .detailtable th {
        color: white;
        background: #535353;
        padding: 7px 10px;        
    }
    .detailtable td {
        border: solid 1px #ebebeb;
        vertical-align: top !important;
        padding: 5px !important; 
    }

    .detailtable .col-icon {
        width: 45px;
    }

    .detailtable .col-name {        
        max-width: 200px;
        overflow: hidden;
    }
    .detailtable .col-detail {             
        min-width: 100%;   
        max-width: 800px;
    }
    @media(max-width: 500px) {
        .detailtable .col-detail {
            min-width: 80px;
        }   
    }

    .detailtable tr.alternaterow {
        background: #eee;
    }


.footer {
    font-size: 0.875em;
    padding: 2px 10px;
}


.flex-master {        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: 1;
        height: 100%;
    }
.banner {    
    border: 0;    
    padding: 10px 12px;
    background: #434343;
    box-shadow: 3px 3px 6px #636363;
    color: white;
    flex: 0 0 auto;  /* don't grow | shrink */
}
.banner-logo {
	height: 58px; 
	margin-right: 10px;
	display: block;
	float: left;
}
.page-content {    
    flex: 1 1 auto;   /* grow & shrink*/

    display: flex;
    flex-direction: row;                         
    
    overflow: auto;
}
.sidebar-left {      
    flex: 0 0 auto;  /* don't grow | shrink horizontally */   
    width: 400px;  
    max-width: 100%;  
    overflow: auto;    
    border: none;
    transition:  width 0.2s ease-in-out;
    z-index: 100;    
}
.splitter {
    flex: 0 0 auto; 
    background: url('../images/vsizegrip.png') center center no-repeat #535353;
    width: 13px;
    cursor: col-resize;    
}
.sidebar-toggle {
    color: white;
    cursor: pointer;
    padding: 3px;
}
.main-content {    
    flex: 1 1 auto;  /* grow & shrink horizontally */
    padding: 15px;       
    width: 100%;
    overflow: auto;    
    -webkit-overflow-scrolling: touch;     
}
/* IE 9/8 limited support */
.old-ie .sidebar-left {
    float: left;
    width: 35%;
}
.old-ie .main-content {
    float: left;
    width: 60%;
}
@media(max-width: 768px) {
    .old-ie .sidebar-left {
        width: 0;
    }
    .old-ie .main-content {
        width: auto;
        float: none;       
    }
}
/* entire content area between header and footer */
.content-pane {    
    padding: 0 10px;
    width: auto;
}

/* main body (topic body) content area */
.content-body {
   margin-bottom: 15px;
}
.content-title {
    color: #446f93;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid silver;
}

@media(max-width: 767px) {
    .sidebar-left {
        width: 0;
        position: absolute;        
        z-index: 100;
    }    
}
#toc {
	scrollbar-track-color: #535353;
	scrollbar-arrow-color: silver;
	scrollbar-face-color: #555;
	-ms-overflow-style: -ms-autohiding-scrollbar !important; 
}
.toc .selected {
    font-weight: bold;
}
.toc-content {
    background: #636363;
    color: #eee;
    -webkit-overflow-scrolling: touch;
}
.toc-menu {
    margin: 0;
    padding: 0;
}
    .tocmenu .btn-link {
        padding: 2px 5px;
    }
.toc {
    padding: 0;
    margin: 10px;  
    font-size: 0.925em;  
}
    .toc ul {
        margin-left: 0;
        padding-left: 0;
    }

    .toc li {
        list-style: none;
        margin-left: 20px;
        padding-left: 0;
        white-space: nowrap;
        padding-top: 6px;
    }
    .toc-content{
        white-space: nowrap;
    }    
    .toc-content a, .toc-content a:visited, .toc-content a:hover, .toc-content a:focus {
        color:  #f5f5f5;        
    }

    .toc .fa {
        color: white;
        font-size: 0.9em;
        display: block;
        width: 20px;
        float: left;
        padding-top: 5px;
        margin-left: -17px;
        padding-right: 5px;
    }

.line-highlight {
    background: #f5f5f5;
    border-radius: 3px;
}

@media(min-width: 1200px) {        
    html, body {
        font-size: 1.05em;
    }
    .banner-logo {
    	height: 55px;
    }    
}

@media(max-width: 600px) {        
    html,body{        
    	
    }    
    .banner-logo {
    	height: 50px;
    }
}
@media print {
	 .flex-master, .main-content { display: block} 
	 .sidebar-left, .hidable, .sidebar-toggle, .splitter
	 {display: none} 
	 pre {
	 	white-space: pre-wrap;
	 }
}