<!DOCTYPE html>
<html>
<head>
    
    {{% if(Topic.TopicState.IsPreview) { }}
    <base href="{{ BasePath }}" />
    {{% } }}
    <meta charset="utf-8" />    
    <title>{{ Topic.Title }} - {{ Project.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="~/_kavadocs/themes/scripts/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/_kavadocs/themes/scripts/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/_kavadocs/themes/kavadocs.css" />

    <script src="~/_kavadocs/themes/scripts/jquery/jquery.min.js"></script>

    <script src="~/_kavadocs/themes/scripts/highlightjs/highlight.pack.js"></script>
    <script src="~/_kavadocs/themes/scripts/highlightjs-badge.min.js"></script>
    <link href="~/_kavadocs/themes/scripts/highlightjs/styles/vs2015.css" rel="stylesheet" />

    <script src="~/_kavadocs/themes/scripts/ww.jquery.min.js"></script>
    <script>        
        window.page = {};
        window.page.basePath = "{{ Project.Settings.RelativeBaseUrl }}";      
    </script>
    <script src="~/_kavadocs/themes/scripts/kavadocs.js"></script>
    {{% if(Topic.TopicState.IsPreview) { }}
        <script src="~/_kavadocs/themes/scripts/preview.js" />
    {{% } }}


    <topictype value="{{ Topic.DisplayType }}" />

    <script>    
        $(document).ready(function () {
            helpBuilder.initializeLayout();
            // expand all top level topics
            setTimeout(helpBuilder.tocExpandTop, 5);
        });
    </script>
    <style>
        .toc li .fa-arrow-up-right-from-square {
            font-size: 0.7em;
            color: goldenrod;
            margin-left: 0.1em;
        }
    </style>
</head>
<body>    
    <!-- Markdown Monster Content -->
    <div class="flex-master">
        <div class="banner">

            <div class="pull-right sidebar-toggle">
                <i class="fa fa-bars"
                   title="Show or hide the topics list"></i>
            </div>
            <img src="~/images/logo.png" class="banner-logo" />
         
            	<div class="projectname"> {{ Project.Title }}</div>

            <div class="byline">                
                <img src="~/_kavadocs/icons/{{ Topic.DisplayType }}.png">
                {{ Topic.Title }}
            </div>
        </div>
        <div class="page-content">
            <div id="toc" class="sidebar-left toc-content">
                <nav class="visually-hidden">
                    <a href="~/tableofcontents.html">Table of Contents</a>
                </nav>
            </div>

            <div class="splitter">
            </div>

            <nav class="topic-outline">
                <div class="topic-outline-header">On this page:</div>
                <div class="topic-outline-content"></div>
            </nav>

            <div id="MainContent" class="main-content">
                <!-- Rendered Content -->
                <article class="content-pane">
                    {{ Script.RenderContent() }}
                </article>

                <hr />
                <div class="pull-right">
                    <a href="http://helpbuilder.west-wind.com" target="_blank"><img src="~/_kavadocs/images/docmonster.png" style="height: 2.5em"/></a>
                </div>

                <small>
                    &copy; {{ Project.Owner }}, {{ DateTime.Now.Year }} &bull;
                    Updated: {{ Topic.Updated.ToString("yyyy-MM-dd") }}
                    <br />
                    <a href="mailto:support@yoursite.com?subject={{ Topic.Title }} ({{Topic.Id}}&body=Topic: {{ Project.Title }} - http://yoursite.com/docs/{{ Topic.Id }}.htm">Comment or report problem with topic</a>
                </small>
                <br class="clearfix" />
                <br />
                <!-- End Rendered Content -->
            </div>
        </div>
    </div>
    <!-- End Markdown Monster Content -->
</body>
</html>

