{{% 
    Script.Layout = "_kavadocs\\Themes\\_Layout.html";
 
}}
<header class="content-title">
    <img src="~/_kavadocs/icons/{{ Topic.DisplayType }}.png">    
    {{ Topic.Title }}
</header>

{{ Script.RenderPartial("_kavadocs\\Themes\\Under-Construction-Partial.html", Model) }}

<div class="content-body" id="body">
    {{% if (string.IsNullOrWhiteSpace(Topic.Body)) { }}
        {{ Helpers.ChildTopicsList() }}        
    {{% } else { }}
        {{ Topic.MarkdownRaw(Topic.Body) }}    
    {{% } }}
</div>

{{% if (!string.IsNullOrEmpty(Topic.Remarks))  { }}
    <h3 class="outdent" id="remarks">Remarks</h3>
    {{! Topic.MarkdownRaw(Topic.Remarks) }}
{{% } }}

{{% if (!string.IsNullOrEmpty(Topic.Example))  { }}
    <h3 class="outdent" id="example">Example</h3>
    {{! Topic.MarkdownRaw(Topic.Example) }}
{{% } }}


{{% if (!string.IsNullOrEmpty(Model.Topic.SeeAlso)) { }}
    <h4 class="outdent" id="seealso">See also</h4>
    <div class="see-also-container">
        {{ Helpers.FixupSeeAlsoLinks(Topic.SeeAlso) }}
    </div>
{{% } }}



 