{{% 
    Script.Layout = "_kavadocs\\Themes\\_Layout.html";
 
}}
<header class="content-title">
    <img src="~/_kavadocs/icons/{{ Topic.DisplayType }}.png">    
    {{ Topic.Title }}
</header>


<div class="content-body" id="body">
    {{% if (string.IsNullOrEmpty(Topic.Body)) { }}
        {{ Helpers.ChildTopicsList() }}
    {{% } else { }}
        {{ Topic.MarkdownRaw(Topic.Body) }}
    {{% } }}
</div>

{{% if (!string.IsNullOrEmpty(Topic.Remarks))  { }}
    <h3 class="outdent" id="remarks">Remarks</h3>
    {{! Topic.MarkdownRaw(Topic.Remarks) }}
{{% } }}

{{% if (!string.IsNullOrEmpty(Topic.Example))  { }}
    <h3 class="outdent" id="example">Example</h3>
    {{! Topic.MarkdownRaw(Topic.Example) }}
{{% } }}

{{% if(!string.IsNullOrEmpty(Topic.SeeAlso))  { }}
<h3 class="outdent" id="seealso">See also</h3>
	{{ Topic.SeeAlso }}
{{% } }}

 